/IsPrimeNumber/dist/
/ComCenter/nbproject/private/
/ComCenter/build/
/MyFirstWebApp/build/
/MyFirstWebApp/dist/
/MyFirstWebApp/nbproject/private/
/MyFirstWeb/nbproject/private/
/MyFirstWeb/build/
/MyFirstWeb/dist/